
{%extends 'base.html'%}

{% block title %}Available Networks{% endblock %}

{% block content %}

        <!-- Hero Image and Title -->
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    {%for v in li%}
                    <!--
                    <div class="accordion accordion-flush" id="accordion">
                        <div class="accordion-item title">
                          <h2 class="accordion-header" id="{{v}}">
                            <button href="#showReq{{v}}" onclick="showReqDetails('{{v}}')" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{v}}" aria-expanded="true" aria-controls="collapse{{v}}">
                              {{v}}
                            </button>
                          </h2>
                          <div id="collapse{{v}}" class="accordion-collapse collapse in" aria-labelledby="{{v}}" data-bs-parent="#accordionExample">
                            <div id="showReq{{v}}" id="accordionbody" class="accordion-body" style="background-color:transparent;">
                              Hello
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      -->
                      <section class="container">
                        <div id="accordion" class="accordion-container">
                          <div class=" accordion-item" >
                              <h2 class="accordion-header" id="{{v}}">
                                <button   href="#showReq{{v}}" onclick="showReqDetails('{{v}}')" class="accordion-button btn  btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{v}}" aria-expanded="true" aria-controls="collapse{{v}}">
                                  {{v}}
                                </button>
                              </h2>
                      
                            <div id="collapse{{v}}" class=" accordion-collapse collapse in"  aria-labelledby="{{v}}"  data-parent="#accordion">
                              <h4  id="showReq{{v}}" class="accordion-body" style=" background-color: transparent;
                              border-radius: 4px;
                              color: white;
                              font-size: 19px;
                              text-align: justify;
                              position: relative;
                              z-index: 1000;
                              transition: all .8s ease-in;
                              background-color: rgba(0,0,0, .1);
                              transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
                              overflow: auto;
                              opacity: 1;" >
                                no content
                              </h4>
                            </div>
                          </div>
                          
                        
                      </section>
                   
                    {% endfor %}


    
                </div>
               
 

            </div>
        </div>
    

    </section>
<script>

    let data = 
    	{
       "xrpl":  `XRPL uses a consensus protocol, in which designated servers called validators come to an agreement on the order and outcome of XRP transactions every 3-5 seconds.
       All servers in the network process each transaction according to the same rules, and any transaction that follows the protocol is confirmed right away. All transactions are public, with strong cryptography to guarantee the integrity of the system.
       
       Anyone can operate a validator; currently, over 150 validators are active on the ledger, operated by universities, exchanges, businesses, and individuals. Additionally, the consensus protocol ensures the blockchain becomes more decentralized over time as the validator pool grows.`      ,
     "besu-poa" :`Hyperledger Besu is an Ethereum client designed to be enterprise-friendly for both public and private permissioned network use cases. It can also be ran on test networks such as Rinkeby, Ropsten, and Görli. Hyperledger Besu includes several consensus algorithms including PoW, and PoA (IBFT, IBFT 2.0, Etherhash, and Clique). Its comprehensive permissioning schemes are designed specifically for use in a consortium environment.`

      , "stellar-docker-testnet": `At the lowest level, Stellar is a system for tracking ownership. Like accountants have for centuries, it uses a ledger to do so, but Stellar’s innovation is that there is no actual accountant. Instead there’s a network of independent computers each checking and rechecking the work of the others. Stellar is a system without a central authority—meaning no one can stop the network or secretly adjust the numbers to his liking—yet even without a central authority the ledgers are verified and updated, every five seconds.

      A unique algorithm, called the Stellar Consensus Protocol (SCP), keeps everything in sync. There are many ways to get agreement across a decentralized system—Bitcoin's visionary proof-of-work method was the first and is still the most famous. But, like many first drafts, proof-of-work left room for improvement. SCP strives to be better by being configurable, fast, and highly energy efficient. If you're interested in the deep details, you can read the peer-reviewed paper, published by SOSP, the oldest and most prestigious systems conference, for complete technical details.`
    ,
       "geth": `Ethereum is a technology for building apps and organizations, holding assets, transacting and communicating without being controlled by a central authority. There is no need to hand over all your personal details to use Ethereum - you keep control of your own data and what is being shared. Ethereum has its own cryptocurrency, Ether, which is used to pay for certain activities on the Ethereum network.`
      };
  
    
       function showReqDetails(i){
        $(`#showReq${i}`).html(`${data[i]}`); 
    }


</script>   
{%endblock%}