
{%extends 'base.html'%}

{% block title %}Benchmarking Engine{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <!-- Hero Image and Title -->
            <div class="hero-body">
                <div class="container" style=" margin-top: 5vh;">
    
                        <!-- Landing page Title -->
                            <h1 class="title is-1  is-light is-semibold has-text-centered is-spaced">Blockchain Benchmarking Framework </h1>
                            
                  </div>
            </div>
            <div class="divider is-spaced is-centered is-large"> </div>
        </section>
    
        <section class="section" >
            <div class="container">
              <div class="column is-5">

     
                
                  <!-- Content wrapper -->
                  <div class="content-wrapper is-large">
                    <div class="columns is-vcentered">
                        <!-- Feature -->
                        <div class="column is-9">
                            <div class="feature">
                              <a  id="deploy" title="Toggle down the system where you cant configure and start a network" class="button k-button k-secondary is-bold raised has-gradient is-fat ">
                                <span class="text" >Deploy Network</span>
                                <span class="front-gradient"></span>
                            </a>
                            </div>
                            <div class="w3-container">
                                <div id="id01" class="w3-modal">
                                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                                    <div class="w3-container w3-black">
                                      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                     <br>
                                      <h2 class="title is-light is-2 is-semibold has-text-centered ">Please start the Monitoring Engine before configure a network</h2>
                                      <h4 class="title is-light is-4 is-semibold has-text-centered ">This is required only once. <span style="color:red;"> Then press again  the configure  button <span> </h4>
                                              <div class=" has-text-centered ">
                                              <a id="start_monitoring" style="margin-left:0.1vw;"  class="button k-button k-secondary raised has-gradient is-fat is-bold" onclick="document.getElementById('id01').style.display='none'">
                                                <span class="text">Start Monitoring</span>
                                                <span class="front-gradient"></span>
                                            </a>
                                            </div>
                                      </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                        <!-- Feature -->
                        <div class="column is-10">
                            <div class="feature">
                              <a href="/swagger"  title="For more advanced users. Redirects to swagger API control panel" class="button k-button k-primary raised has-gradient is-bold is-fat">
                                <span class="text" >VIEW API</span>
                                <span class="front-gradient"></span>
                            </a>
                            </div>
                        </div>
                        <!-- Feature -->
                        <div class="column is-10">
                            <div class="feature">
                              <a href="{{url_for("monitoring")}}" title="Redirect to Monitoring page to check benchmarks after traffic generation" class="button k-button k-primary raised has-gradient is-bold is-fat ">
                                <span class="text" >Monitoring</span>
                                <span class="front-gradient"></span>
                            </a>
                            </div>
                        </div>
                    </div>
    
                
                </div>
                <!-- Content wrapper -->
              </div>
              <div id="steps" class="container hidden" >
              <div class="divider  is-centered"> </div>
                <h2 class="title is-light is-semibold has-text-centered is-spaced" style="margin-bottom:-2rem;">Configure a Network </h2>
                <!-- Flying tabs wrapper -->
              <div  class="flying-wrapper">
                <!-- Tabs container -->
                <div class="steps-container">
                    <!-- Tabs -->
                    
                    <div class="steps" style="display:grid!important;">
                        
                        <div id="multi-step-form-container">
                            <!-- Form Steps / Progress Bar 
                            <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                               
                                <li class="form-stepper-active text-center form-stepper-list" step="1">
                                    <a class="mx-2">
                                        <span class="form-stepper-circle">
                                            <span>1</span>
                                        </span>
                                        <div  class="label">Configure a Network</div>
                                    </a>
                                </li>
                                 
                                <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                                    <a class="mx-2">
                                        <span class="form-stepper-circle text-mutedd">
                                            <span>2</span>
                                        </span>
                                        <div class="label text-mutedd">Start a Network</div>
                                    </a>
                                </li>
                              </ul>-->
                            <!-- Step Wise Form Content -->
                                <!-- Step 1 Content -->
                                <section id="step-1" class="form-step">
                                    <h2 class="title is-light is-2 is-semibold has-text-centered ">Fill the fields to Start a Network</h2>
                                    <!-- Step 1 input fields -->
                                    <div class="container steps"  >
                                      <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="post">

                                    <div class="columns is-vcentered">
                                        <div class="column is-3">
                                          <div class="archives-widget">
                                              <select id="selected" class="select is-small" style="background-color:transparent; color:white; font-size:16px;">
                                                <option id="opt1" class="option">Select a Network</option>
                                                  {% for i in li%}
                                                <option name='{{i}}' id="opt-{{i}}" class="option">{{i}}</option>
                                                  {%endfor%}
                                                </select>
                                        </div>
                                      </div>
                                          <div class="column is-4" style="padding-left:3vw; margin-bottom:-4vh;">
                                            <!-- Form -->
                                            <div class="column is-6">
                                                <div class="control-material is-secondary">      
                                                <input id="num_of_nodes" class="material-input " type="number" min="1" oninput="validity.valid||(value='');" required>
                                                <span class="material-highlight"></span>
                                                <span class="bar"></span>
                                                <label>Num of Nodes</label>
                                            </div>
                                          </div>
                                          </div>
                                          <div class="column is-3">
                                            <button  id="btn1" class="button k-button is-primary is-fat rounded" > Configure! </button>
                                        </div>
                                      </form>
                                      <div class="column is-3">
                                        <div class="mt-3" id="mt-3">
                                          <div id="wait1" class=" loader  appear has-text-centered is-centered" style="display:none;"> </div>
                                          <div id="wait1t" class="hidden  has-text-centered is-centered is-light is-semibold">Loading...</div>

                                          <span id="sta" class="title hidden title is-6  is-light hidden" style="padding-right:40%" >Start a Network by clicking the start button on the panel below</span>
                                      </div>
                                      </div>
                                      
                                  </div>
                                </div>
                                </section>
                                <!-- Step 2 Content, default hidden on page load. 
                                <section id="step-2" class="form-step d-none">
                                  <h2 class="title is-light is-2 is-semibold has-text-centered ">Fill the fields to Start a Network</h2>
                                  //Step 1 input fields 
                                  <div class="container steps">
                                  <div class="columns is-vcentered">
                                        <div class="column is-2">
                                          <figure class="media is-white">
                                            <div class="accepted-currencies">
                                            <i id="icon1" class="cf cf-eth"></i>
                                            </div>
                                          </figure>
                                        </div>
                                          <div class="column is-4" style=" margin-bottom:-4vh; width:20%;">
                                            //Form 
                                                <form class="form" >                                          
                                                      <div class="control-material is-secondary">      
                                                        <input id="num_of_nodes2" class="material-input " type="number" min="1" oninput="validity.valid||(value='');" required>
                                                        <span class="material-highlight"></span>
                                                        <span class="bar"></span>
                                                        <label>Num of Nodes</label>
                                                    </div>
                                          </div>
                                        <div class="column is-3" style="margin-left:8vw;">
                                          <button id="btn2" name="start_" class="button k-button is-primary is-fat rounded">   Start! </button>
                                        </div>
                                         </form>
                                        <div class="column is-3">
                                          <div class="mt-3" id="mt-3">
                                            <h4 id="wait2"  class="title is-5 has-text-center  is-light hidden"> Wait till process finish.... </h4>
                                            <button class="button k-button k-primary rounded raised has-gradient  front-gradient   is-bold btn-navigate-form-step" type="button" step_number="1">Deploy Another Network</button>
                                        </div>
                                    </div>
                                    
                                </div>
                                </section> -->
                               
                            
                        </div>
                    </div>
    
                </div>
              </div>
            </div>
        </section>

        <section id="array"  class="section" style="margin-top:0; padding-top:0; ">
            <div class="container">
              <div class="b-table">
                <div class="table-wrapper has-mobile-cards">
                  <table id="myTable" class="table is-fullwidth is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                      <th class="is-chevron-cell"></th>
                      <th></th>
                      <th>Network name</th>
                      <th> Number of Nodes </th>
                      <th>Network status</th>
                      <th>Actions</th>
                      <th>Traffic Generation</th>
                    </tr>
                    </thead>
                    <tbody >
                      <h4 class="title is-4 is-light is-semibold has-text-centered is-centered"> Network Control Panel </h4>
                      <div class="divider is-centered has-text-centered is-large is-long"> </div>

                                <div class="w3-container">
                                  <div id="id02" class="w3-modal">
                                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:100%">
                                      <div class="w3-container w3-black">
                                        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                      <br>
                                      <h2 class="title is-light is-2 is-semibold has-text-centered ">Fill the fields to Start a Network</h2>
                                       <div class="container steps" >
                                         <div class="columns is-vcentered ">
                                               
                                                 <div class="column is-5" style=" margin-bottom:-4vh; width:20%;">
                                                   
                                                             <div class="control-material is-secondary">      
                                                               <input id="numWa" class="material-input " type="number" min="1" oninput="validity.valid||(value='');" required>
                                                               <span class="material-highlight"></span>
                                                               <span class="bar"></span>
                                                               <label>Num of Wallets</label>
                                                           </div>
                                                         </div>
                                                         <div class="column is-5" style=" margin-bottom:-4vh; width:20%;">
     
                                                           <div class="control-material is-secondary">      
                                                             <input id="numTok" class="material-input " type="number" min="1" oninput="validity.valid||(value='');" required>
                                                             <span class="material-highlight"></span>
                                                             <span class="bar"></span>
                                                             <label>Num of Tokens</label>
                                                         </div>
                                                       </div>
                                               <div class="column is-3" style="margin-left:4vw;">
                                                 <button id='start_traffic' class="button k-button is-primary is-fat rounded"> Start Traffic Generator! </button>
                                               </div>
                                               <div class="column is-3">
                                                 <div class="mt-3" id="mt-3">
                                                  <div id="wait2" class=" loader  appear has-text-centered is-centered" style="display:none;"> </div>
                                                  <div id="wait2t" class="hidden  has-text-centered is-centered is-light is-semibold">Loading...</div>

                                                  <h5 id="finished_traffic" class="is-light is-semibold title is-6 hidden"> Finished! <br> Now visit Monitoring page or check Traffic logs by pressing the view icon. </h5>
                                               </div>
                                         
                                           </div>
                                   </div>
                                        </div>
                                    </div>
                              </div>

                              
                      <!-- 
                        <tr>
                          <div class="content" id="wrapper" style="display:hidden;">
                            <td colspan="8">


                              <div class="detail-container" style="display:none;">
                                <div class="content-wrapper is-large" style="display:flex;
                                flex-direction:column;">
                      
                                    <div x-data="initTabs()" class="flying-wrapper">
                                        <div class="flying-tabs-container">
                                            
                                            <div class="flying-tabs"  >
                                                <div style="margin-left:25%; border: 2px solid;   border-radius: 5px; padding: 5px 0 5px 0 ;" onclick="node('xrpl')" @click="switchTabs($event)" class="flying-child tab-geth" data-tab="tab-geth" :class="{
                                                    'is-active': activeTab === 'tab-geth',
                                                    '': activeTab != 'tab-geth'
                                                }"><a onclick="node('xrpl')" href="javascript:void(0);">Network Details</a></div>
                                                <div  style=" border: 2px solid;   border-radius: 5px; padding:5px 0 5px 0 ;"  onclick="show_traf_box('xrpl')" @click="switchTabs($event)" class="flying-child tab-stellar-docker-testnet " data-tab="tab-stellar-docker-testnet" :class="{
                                                  'is-active': activeTab === 'tab-stellar-docker-testnet',
                                                  '': activeTab != 'tab-stellar-docker-testnet'
                                              }"><a onclick="show_traf_box('xrpl')" href="javascript:void(0);">Traffic Details</a></div>
                                                <div id="slider1"  class="slider hidden" >  </div>
                                                
                                            </div>
                                        </div>
                      
                                        <div class="flying-tabs-content">
                                            
                                                  <div class="columns " style="display:block;">
                                                   
                                                        <div id="trf-box" class="text-content  has-text-centered " style="padding-top:3vh">
                                                          
                                                  </div>
                                            
                                            
                                        </div>
                                    </div>
                      
                                </div>


                            </td>
                        </div>
                        </tr>
                        !-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section> 
    </div>

<script>
    /**
 * Define a function to navigate betweens form steps.
 * It accepts one parameter. That is - step number.
 */
const navigateToFormStep = (stepNumber) => {
    /**
     * Hide all form steps.
     */
    document.querySelectorAll(".form-step").forEach((formStepElement) => {
        formStepElement.classList.add("d-none");
    });
    /**
     * Mark all form steps as unfinished.
     */
    document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
        formStepHeader.classList.add("form-stepper-unfinished");
        formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
    });
    /**
     * Show the current form step (as passed to the function).
     */
    document.querySelector("#step-" + stepNumber).classList.remove("d-none");
    /**
     * Select the form step circle (progress bar).
     */
    const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');
    /**
     * Mark the current form step as active.
     */
    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
    formStepCircle.classList.add("form-stepper-active");
    /**
     * Loop through each form step circles.
     * This loop will continue up to the current step number.
     * Example: If the current step is 3,
     * then the loop will perform operations for step 1 and 2.
     */
    for (let index = 0; index < stepNumber; index++) {
        /**
         * Select the form step circle (progress bar).
         */
        const formStepCircle = document.querySelector('li[step="' + index + '"]');
        /**
         * Check if the element exist. If yes, then proceed.
         */
        if (formStepCircle) {
            /**
             * Mark the form step as completed.
             */
            formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
            formStepCircle.classList.add("form-stepper-completed");
        }
    }
};
/**
 * Select all form navigation buttons, and loop through them.
 */
document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
    /**
     * Add a click event listener to the button.
     */
    formNavigationBtn.addEventListener("click", () => {
        /**
         * Get the value of the step.
         */
        const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));
        /**
         * Call the function to navigate to the target form step.
         */
        navigateToFormStep(stepNumber);
    });
});
</script>



<script >
  renderjson.set_max_string_length(150);
  async function node(networkk) {
        
	    const response = await 
      fetch(`/traffic/${networkk}/node`);
       
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      const data = await response.json();
      console.log(data);
      document.getElementById("trf-box").innerHTML=`   <h4 class="title is-light is-4 animated preFadeInUp fadeInUp">${networkk}</h4>
      <div class="divider is-centered"></div>
      <h5 class="title is-light is-5 animated preFadeInUp fadeInUp">Service Info</h5>
      <div class="animated preFadeInUp fadeInUp" style="width:70rem;  text-align:left; overflow:auto;">
          <span id="test" class="text-content is-light" style="display:inline;"></span>
      </div>
      <h6 class="title is-light is-5 animated preFadeInUp fadeInUp">Docker Container Statistics</h6>
      <div class="divider is-centered"></div>


        <div class="accordion accordion-flush" id="accordionFlushExample1" style="max-width:70rem; width:100%; float:left; max-height:50rem; overflow:auto;">
        
      </div>
      <div id="loader" class="loader  appear has-text-centered is-centered"> </div>
      <div id="loader-text" class="appear  has-text-centered is-centered is-light is-semibold">Loading...</div>`;
      
      document.getElementById("test").appendChild(renderjson(data));
      fetchStats(); 
      };

   async function fetchStats() {      
    const response = await 
    fetch(`/docker/management/stats`);
     
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const data = await response.json();
      console.log(data )
      $('#loader').toggleClass("appear hidden");
      $('#loader-text').toggleClass("appear hidden");

      $.each(data, function(index, value) {
        $(`
          <div class="accordion-item text-white bg-dark" style="width:100%" >
            <h5 class="accordion-header is-5 text-white is-semibold bg-dark" id="flush-heading${index}" st>
              <button class=" text-white bg-dark is-semibold is-6 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse${index}" aria-expanded="false" aria-controls="flush-collapse${index}">
                ${value.Container_name}
              </button>
            </h5>
            <div id="flush-collapse${index}" class="accordion-collapse collapse" aria-labelledby="flush-heading${index}" data-bs-parent="#accordionFlushExample1">
              <div class="accordion-body text-white bg-dark">
              <table class="table table-dark">
                <thead style="text-align:center; "> 
                  <tr style="text-align:center;">
                    <th scope="col">CPU Usage</th>
                    <th scope="col">Uptime</th>
                    <th scope="col">Memory Usage</th>
                    <th scope="col">Network Stats</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="text-align:left;">
                    <td>${value.CPU_ucsage_percent}</td>
                    <td>${value.Uptime}</td>
                    <td >${value.memory_usage_percentage}</td>
                    <td id="net${index}"></td>

                  </tr>
                  </tbody>
                  </table>
            </div>
          </div>
        </div>
      `).appendTo('#accordionFlushExample1');
      
      document.getElementById(`net${index}`).appendChild(renderjson(value.Network_Stats));
    });
   };
    
    async function show_traf_box(network){
      document.getElementById('trf-box').innerHTML=`
      <h4 class="title is-light animated preFadeInUp fadeInUp has-text-cetered">${network}</h4>
      <span  class="buttons column is-12" style="float:right; animation-delay: .3s; display:inline-block; align-items:center;  padding-top:4vh;">
        <a href="/" id="bt" target="_blank" class="button k-button k-primary rounded raised has-gradient is-fat is-bold" onclick="javascript:event.target.port=9091">
         Check Transactions' Logs
        </a> 
        
      </span> 
     
      <div class="container is-centered has-text-cetered" style="display:inline; margin-right:50rem">
        
        <div class="columns container">
          <TA class="is-offset-1 column is-3"  style="height:500px; width:36%; overflow:hidden; overflow-y:auto;   -webkit-overflow-scrolling: touch;          ">
            <h4 class="title is-light is-5 is-vcentered"> Click on of the following generated accounts </h4>
            <br> 
          </TA>
               

              <div id="trf-box2" class="is-offset-1 column is-3" style="height:60%; width:70%; overflow:auto;   -webkit-overflow-scrolling: touch; ">
                <h4 class="title is-light is-5 has-text-centered is-vcentered"> Account Logs </h4>
              </div>
        </div>
      </div>
      ` ;
      const response = await 
      fetch(`traffic/wallets/${network}`);
       
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      const data = await response.json();
      console.log(data);
          $.each(data, function(index, value) {
            $(`
            <a id="acc_${index}" class=" has-text-cetered" onclick="get_acc_info('${network}','${value}')">
              <div class="card text-white bg-dark mb-3" style="max-width: 28rem;>
              <a class="card-header" > <h6 class="title is-light is-bold is-6"> ${value} </h6> </a>
            </div>
          </a>
          `).appendTo('TA');
          });

      

    };

    function get_acc_info(net,acc){
        fetch(`/traffic/${net}/acc/${acc}`)
        .then((response) => response.json())
        .then(function(data) {
          document.getElementById("trf-box2").innerHTML=`
          <h4 class="title is-light is-5 has-text-centered is-vcentered"> Account Logs </h4>
          <br> <br>
          <div class="columns is-4 ">
              <span id="jsonacc" class="text-content is-light" style="text-align:justify; display:inline; margin-top:-1.5%"></span>
          </div>`;
          document.getElementById("jsonacc").appendChild(renderjson(data));

    });
  };
  
</script> 

<script>
var networks=["geth", "xrpl", "besu-poa", "stellar-docker-testnet"];

    window.onload = function() {
      var reloading = sessionStorage.getItem("reloading");
          for (let networkk in networks){
            reloadn(networkk);
          };
      
  };
   function reloadn(networkk){
    fetch(`/request/${networks[networkk]}/path`)
    .then((response) => response.json())
    .then(function(data) {
      const myArray = data.split(",");
      if(myArray[0] == "Configured" || myArray[0] == "Started"  ) {
        AddRows(networks[networkk],myArray[0] ,myArray[1] );
        if(myArray[0] == "Started" ){
          $(`#traffic${networks[networkk]}`).toggleClass('hidden appear');
           toggles(networks[networkk]);
        
        }
        changeicon(networks[networkk],`icon${networks[networkk]}`);
      }
     
    });
   };

   $("#deploy").click(function(){
    $("#steps").toggleClass('hidden appear');

   });

  </script>


<script>
  function toggles(network){
    $(`#start${network}`).toggleClass('appear hidden')
    $(`#stop_${network}`).toggleClass('hidden appear')
    $(`#clean${network}`).toggleClass('appear hidden')
    
  };


  function view(network){
    $(".detail-container").slideToggle("slow");
    $("#icon").toggleClass(' is-expanded')
  };



</script>
<script type="text/javascript">

  $("#start_monitoring").click(function(){
    $(`#btn1`).prop('disable',true);
    fetch('/request/mon')
    .then((response) => response.json())
    .then(function(data) {
    console.log(data);
    $(`#btn1`).prop('disable',false);

    });

  });

   function start_traffic(net){
    document.getElementById('id02').style.display='block'
    $("#start_traffic").click(function(){
      var numWa  = document.getElementById('numWa').value;
      var numTok =document.getElementById('numTok').value;
      document.getElementById("wait2").style.display = "flex";
      $("#wait2t").toggleClass('hidden appear');

      fetch(`/traffic/${net}/traffic/${numWa}/${numTok}`)
      .then((response) => response.json())
      .then(function(data) {
        console.log(data);

        document.getElementById("wait2").style.display = "none";
        $("#wait2t").toggleClass('appear hidden');
        $("#finished_traffic").toggleClass('hidden appear');
      });
      
    });
    
  };

  function generate_traffic(net,numWa, numTok){
    fetch(`/traffic/${net}/traffic/${numWa}/${numTok}`)
    .then((response) => response.json())
    .then(function(data) {
    console.log(data);
    });
  };

  function clean(networkk){
    fetch(`/request/${networkk}/clean`)
    .then((response) => response.json())
    .then(function(data) {
      console.log(data);
      $(`#network-${networkk}`).remove();
    });
  };

  function stop(networkk){
    fetch(`/request/${networkk}/stop`)
    .then((response) => response.json())
    .then(function(data) {
      console.log(data);
      toggles(networkk);
      document.getElementById(`status_${networkk}`).innerHTML="Configured";
    });
  };
 
</script>


<script>
  function showDetails(){
    $('#slider1').removeClass('hidden');
  }

  const buttonForm = document.getElementById("btn1");
  
  buttonForm.addEventListener("click",(event) => {
    event.preventDefault();
      fetch('/docker/management/is_monitoring_configured')
      .then((response) => response.json())
      .then(function(data) {
        if(data == "False") {
          document.getElementById('id01').style.display='block'
        }
        else{
          configureNetwork();
        };
        });
    });
  

        function AddRows(network, status, num_) {
          var table = document.getElementById("myTable").getElementsByTagName('tbody')[0];
          var row = table.insertRow(0);
          row.id = `network-${network}`;
          var cel0=row.insertCell(0);
          cel0.innerHTML = `<a role="button" onclick="view('${network}')"  >
            <span id="icon" class="iconify-inline icon "><i class="mdi mdi-chevron-right mdi-24px"></i></span>
          </a>`;
          var cel= row.insertCell(1);
          cel.innerHTML=`  <i id="icon${network}" class="cf cf-eth"></i>`;
          changeicon(network,`icon${network}`);
          var cell1 = row.insertCell(2);
          cell1.innerHTML=network;
          var cell11 = row.insertCell(3);
          cell11.id=`numnodes${network}`;
          cell11.innerHTML=`<span value="${num_}"> ${num_} </span>`;
          var cell2 = row.insertCell(4);
          cell2.id=`status_${network}`;
          cell2.innerHTML=status;
          var cel3= row.insertCell(5);
          cel3.className="is-actions-cell";
          cel3.innerHTML=` 
          <div class="buttons is-center">
          <button title="View advanced options for the network" id="viewgraph${network}" onclick="view()" class="button is-small is-primary" type="button">
            <span class="icon"><i class="mdi mdi-eye"></i></span>
          </button>
          <button title="Start the Network" id="start${network}" onclick="startNetwork('${network}',${num_})" class="button is-small is-success jb-moda appear" data-target="sample-modal" type="button">
            <span class="icon"><i id="starticon${network}" class="mdi mdi-arrow-right-drop-circle"></i></span>
          </button>
          <button title="Stop the Network" id="stop_${network}" onclick="stop('${network}')" class="button is-small is-danger jb-moda hidden" data-target="sample-modal" type="button">
            <span class="icon"><i id="stopicon${network}" class="mdi mdi-trash-can"></i></span>
          </button>
          <button title="Delete the network" id="clean${network}"  onclick="clean('${network}')" class="button is-small is-danger jb-modal appear" data-target="sample-modal" type="button">
            <span class="icon"><i  class="mdi mdi-close-box"></i></span>
          </button>
        </div>`; 
        var cel4= row.insertCell(6);
        cel4.innerHTML=`<button id="traffic${network}"  onclick="start_traffic('${network}')"  class="button k-button is-primary is-small is-semibold hidden" type="button">
          Traffic Generation
        </button>`
        // Panel 
        var row1 = table.insertRow(1);
        row1.id = `panel-${network}`;

        var pcel0=row1.insertCell(0);
        pcel0.setAttribute("colspan", "8");
        pcel0.innerHTML=` <div class="detail-container" style="display:none;">
          <div class="content-wrapper is-large" style="display:flex;
          flex-direction:column;">

              <!-- Flying tabs wrapper -->
              <div x-data="initTabs()" class="flying-wrapper">
                  <!-- Tabs container -->
                  <div class="flying-tabs-container">
                      <!-- Tabs -->
                      
                      <div class="flying-tabs"  >
                          <div style="margin-left:25%; border: 2px solid;   border-radius: 5px; padding: 5px 0 5px 0 ;" onclick="node('${network}')" @click="switchTabs($event)" class="flying-child tab-geth" data-tab="tab-geth" :class="{
                              'is-active': activeTab === 'tab-geth',
                              '': activeTab != 'tab-geth'
                          }"><a id="node${network}" onclick="node('${network}')" href="javascript:void(0);">Network Details</a></div>
                          <div  style=" border: 2px solid;   border-radius: 5px; padding:5px 0 5px 0 ;"  onclick="show_traf_box('${network}')" @click="switchTabs($event)" class="flying-child tab-stellar-docker-testnet " data-tab="tab-stellar-docker-testnet" :class="{
                            'is-active': activeTab === 'tab-stellar-docker-testnet',
                            '': activeTab != 'tab-stellar-docker-testnet'
                        }"><a id="traff${network}" onclick="show_traf_box('${network}')" href="javascript:void(0);">Traffic Details</a></div>
                          <div id="slider1"  class="slider hidden" >  </div>
                          
                      </div>
                  </div>

                  <!-- Tabs content wrapper -->
                  <div class="flying-tabs-content">
                      <!-- Tab 1 -->
                      
                            <div class="columns " style="display:block;">
                              <!-- ICO Terms -->
                             
                                  <div id="trf-box" class="text-content  has-text-centered " style="padding-top:3vh">
                                    
                            </div>
                      
                      <!-- /Tab 1 -->
                      
                  </div>
              </div>

        
  </div>`;   
};

        function startNetwork(network, num_of_nodes){
          var value = event.value;
          toggles(network);
          fetch(`/request/${network}/start/${num_of_nodes}`)
          .then(data => {
            document.getElementById(`status_${network}`).innerHTML="Started";
            $(`#traffic${network}`).toggleClass('hidden appear');
            if (!data.ok) {
              throw new Error("HTTP error " + data.status);
          }
            return data.json()})
          .then((response) => {
            console.log(response);
            })
          .catch((err) => console.error(err));

        };

        function configureNetwork(){
          network  = document.getElementById('selected').value;
          if (network ==="Select a Network"){
            alert("Please select a valid network!");
          }
          num_of_nodes=document.getElementById('num_of_nodes').value;
          let url = `/request/${network}/configure/${num_of_nodes}`;
          document.getElementById("wait1").style.display = "flex";
          $("#wait1t").toggleClass('hidden appear');
      
          fetch(url, {
          method: "POST",
          })
          .then(data => {
            console.log("ok")
      
            if (!data.ok) {
              throw new Error("HTTP error " + data.status);
          }
            return data.json()})
          .then((response) => {
           console.log(response);
           document.getElementById("wait1").style.display = "none";
           $("#wait1t").toggleClass('appear hidden');
           $("#sta").toggleClass('hidden appear');
           $("#array").toggleClass('hidden appear');
           AddRows(network, "Configured", num_of_nodes);
           changeicon(network,"icon1");
           changeicon(network,`icon${network}`);
           })
          .catch((err) => console.error(err));
        };

        function changeicon(network, icon){
          if (network==="xrpl"){
            document.getElementById(icon).className="cf cf-xrp";
          };
          if (network==="stellar-docker-testnet"){
            document.getElementById(icon).className="cf cf-xlm";
          };
          if (network==="besu-poa"){
            document.getElementById(icon).className="cf cf-xyo";
          };
          if (network==="geth"){
            document.getElementById(icon).className="cf cf-eth";
          };
        };
//on configure create cell on table with number of nodes
</script>



<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
{%endblock%}