
{%extends 'base.html'%}

{% block title %}Benchmarking Engine{% endblock %}

{% block content %}

            <!-- Hero Image and Title -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
    
                        <!-- Landing page Title -->
                        <div class="column is-5 is-offset-1 landing-caption">
                            <div class="divider"></div>
                            <h1 class="title is-1 is-light is-semibold is-spaced main-title">News & Media</h1>
                            <h2 class="subtitle is-6 is-light is-thin">
                                Cryptocurrency brought to the next level. Join our ICO for supercharged rates.
                            </h2>
    
                        </div>
                        <!-- Hero image -->
                        <div class="column is-6">
                            <figure class="image">
                                <img src="../static/img/illustrations/media.svg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="section" >
            <div class="container">
              <div class="column is-5">

                 
                  <!-- Content wrapper -->
                  <div class="content-wrapper is-large">
                    <div class="columns is-vcentered">
                        <!-- Feature -->
                        <div class="column is-9">
                            <div class="feature">
                              <a id="slideSteps" class="button k-button k-secondary is-bold raised has-gradient is-fat slanted">
                                <span class="text">Configure a Network</span>
                                <span class="front-gradient"></span>
                            </a>
                            </div>
                        </div>
                        <!-- Feature -->
                        <div class="column is-10">
                            <div class="feature">
                              <a href="/swagger" class="button k-button k-primary raised has-gradient is-bold is-fat">
                                <span class="text">Advanced UI</span>
                                <span class="front-gradient"></span>
                            </a>
                            </div>
                        </div>
                        <!-- Feature -->
                        <div class="column is-10">
                            <div class="feature">
                              <a href="{{url_for("management")}}" class="button k-button k-primary raised has-gradient is-bold is-fat ">
                                <span class="text">Management</span>
                                <span class="front-gradient"></span>
                            </a>
                            </div>
                        </div>
                    </div>
    
                
                </div>
                <!-- Content wrapper -->
              </div>
              <div id="steps" class="container" >
              <div class="divider  is-centered"> </div>
                <h2 class="title is-light is-semibold has-text-centered is-spaced">5 Steps to Success </h2>
                <!-- Flying tabs wrapper -->
              <div  class="flying-wrapper">
                <!-- Tabs container -->
                <div class="steps-container">
                    <!-- Tabs -->
                    
                    <div class="steps" style="display:grid!important;">
                        
                        <div id="multi-step-form-container">
                            <!-- Form Steps / Progress Bar -->
                            <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                                <!-- Step 1 -->
                                <li class="form-stepper-active text-center form-stepper-list" step="1">
                                    <a class="mx-2">
                                        <span class="form-stepper-circle">
                                            <span>1</span>
                                        </span>
                                        <div class="label">Configure a Network</div>
                                    </a>
                                </li>
                                <!-- Step 2 -->
                                <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                                    <a class="mx-2">
                                        <span class="form-stepper-circle text-mutedd">
                                            <span>2</span>
                                        </span>
                                        <div class="label text-mutedd">Start a Network</div>
                                    </a>
                                </li>
                                <!-- Step 3 -->
                                <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                                    <a class="mx-2">
                                        <span class="form-stepper-circle text-mutedd">
                                            <span>3</span>
                                        </span>
                                        <div class="label text-mutedd">Start Monitoring</div>
                                    </a>
                                </li>
                                <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
                                  <a class="mx-2">
                                      <span class="form-stepper-circle">
                                          <span>4</span>
                                      </span>
                                      <div class="label">Traffic Generator</div>
                                  </a>
                              </li>
                              <li class="form-stepper-unfinished text-center form-stepper-list" step="5">
                                <a class="mx-2">
                                    <span class="form-stepper-circle">
                                        <span>5</span>
                                    </span>
                                    <div class="label">You are Ready!</div>
                                </a>
                            </li>
                            </ul>
                            <!-- Step Wise Form Content -->
                            <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="POST">
                                <!-- Step 1 Content -->
                                <section id="step-1" class="form-step">
                                    <h2 class="title is-light is-2 is-semibold has-text-centered ">Fill the fields to Start a Network</h2>
                                    <!-- Step 1 input fields -->
                                    <div class="container steps"  >

                                    <div class="columns is-vcentered">
                                        <div class="column is-3">
                                          <div class="archives-widget">
                                            <div class="select" tabindex="1">
                                                <input class="selectopt" name="test" type="radio" id="opt1" checked>
                                                <label for="opt1" class="option">Select a Network</label>
                                                  {% for i in li%}
                                                <input class="selectopt" name="test" type="radio" id="opt-{{i}}">
                                                <label for="opt-{{i}}" class="option">{{i}}</label>
                                                  {%endfor%}
                                            </div>
                                        </div>
                                      </div>
                                          <div class="column is-4" style="padding-left:3vw; margin-bottom:-4vh;">
                                            <!-- Form -->
                                            <div class="column is-6">
                                            <form class="form">                                          
                                              <div class="control-material is-secondary">      
                                                <input class="material-input " type="number" min="1" oninput="validity.valid||(value='');" required>
                                                <span class="material-highlight"></span>
                                                <span class="bar"></span>
                                                <label>Num of Nodes</label>
                                            </div>
                                          </div>
                                          </div>
                                          <div class="column is-3">
                                            <button class="button k-button is-primary is-fat rounded"> Configure! </button>
                                        </div>
                                      </form>
                                      <div class="column is-4">
                                        <div class="mt-3" id="mt-3">
                                          <button class="button k-button k-primary rounded raised has-gradient  front-gradient   is-bold btn-navigate-form-step" type="button" step_number="2">Start Network</button>
                                      </div>
                                      </div>
                                      
                                  </div>
                                </div>
                                </section>
                                <!-- Step 2 Content, default hidden on page load. -->
                                <section id="step-2" class="form-step d-none">
                                  <h2 class="title is-light is-2 is-semibold has-text-centered ">Fill the fields to Start a Network</h2>
                                  <!-- Step 1 input fields -->
                                  <div class="container steps">
                                  <div class="columns is-vcentered">
                                        <div class="column is-2">
                                          <figure class="media is-white">
                                            <div class="accepted-currencies">
                                            <i class="cf cf-eth"></i>
                                            </div>
                                          </figure>
                                        </div>
                                          <div class="column is-4" style=" margin-bottom:-4vh; width:20%;">
                                            <!-- Form -->
                                                <form class="form">                                          
                                                      <div class="control-material is-secondary">      
                                                        <input class="material-input " type="number" min="1" oninput="validity.valid||(value='');" required>
                                                        <span class="material-highlight"></span>
                                                        <span class="bar"></span>
                                                        <label>Num of Nodes</label>
                                                    </div>
                                          </div>
                                        <div class="column is-3" style="margin-left:8vw;">
                                          <button class="button k-button is-primary is-fat rounded"> Start! </button>
                                        </div>
                                         </form>
                                        <div class="column is-4">
                                          <div class="mt-3" id="mt-3">
                                            <button class="button k-button k-primary rounded raised has-gradient  front-gradient   is-bold btn-navigate-form-step" type="button" step_number="3">Start Monitoring</button>
                                        </div>
                                    </div>
                                    
                                </div>
                                </section>
                                <!-- Step 3 Content, default hidden on page load. -->
                                <section id="step-3" class="form-step d-none">
                                  <h2 class="title is-light is-2 is-semibold has-text-centered ">Just Start it!</h2>
                                  <!-- Step 3 input fields -->
                                  <div class="container steps">
                                      <div class="columns is-offset-3">
                                            <div class="column is-8">
                                          
                                                  <div class="has-text-right">
                                                      <a class="button k-button k-secondary raised has-gradient is-fat is-bold rounded" style="margin-right:2.8vw">
                                                        <span class="text">Start Monitoring</span>
                                                        <span class="front-gradient"></span>
                                                    </a>
                                                  </div>
                                            </div>
                                          <div class="column is-3">
                                            <h4 class="title is-light is-4 is-white is-bold has-text-centered"> Done! </h4>
                                          </div>
                                   </div>
                                  </div>
                                        <div class="mt-3">
                                            <button class="button k-button grey-button rounded raised has-gradient front-gradient   is-bold btn-navigate-form-step" type="button" step_number="2">Prev</button>
                                            <button class="button k-button k-primary rounded raised has-gradient front-gradient   is-bold btn-navigate-form-step" type="button" step_number="4">Next</button>
                                        </div>
                                </section>
                                <section id="step-4" class="form-step d-none">
                                  <h2 class="title is-light is-2 is-semibold has-text-centered ">Fill the fields to Start a Network</h2>
                                  <!-- Step 1 input fields -->
                                  <div class="container steps" >
                                    <div class="columns is-vcentered ">
                                          <div class="column is-2">
                                            <figure class="media is-white">
                                              <div class="accepted-currencies">
                                              <i class="cf cf-eth"></i>
                                              </div>
                                            </figure>
                                          </div>
                                            <div class="column is-5" style=" margin-bottom:-4vh; width:20%;">
                                              <!-- Form -->
                                                  <form class="form">                                          
                                                        <div class="control-material is-secondary">      
                                                          <input class="material-input " type="number" min="1" oninput="validity.valid||(value='');" required>
                                                          <span class="material-highlight"></span>
                                                          <span class="bar"></span>
                                                          <label>Num of Accounts</label>
                                                      </div>
                                                    </div>
                                                    <div class="column is-5" style=" margin-bottom:-4vh; width:20%;">

                                                      <div class="control-material is-secondary">      
                                                        <input class="material-input " type="number" min="1" oninput="validity.valid||(value='');" required>
                                                        <span class="material-highlight"></span>
                                                        <span class="bar"></span>
                                                        <label>Num of Txs</label>
                                                    </div>
                                                  </div>
                                          <div class="column is-3" style="margin-left:4vw;">
                                            <button class="button k-button is-primary is-fat rounded"> Start Traffic Generator! </button>
                                          </div>
                                          </form>
                                          <div class="column is-3">
                                            <div class="mt-3" id="mt-3">
                                              <button class="button k-button k-primary rounded raised has-gradient  front-gradient   is-bold btn-navigate-form-step" type="button" step_number="5">Done</button>
                                          </div>
                                    
                                      </div>
                              </div>
                              </section>
                              <section id="step-5" class="form-step d-none">
                                <h2 class="font-normal title is-bold is-light is-2"> See it was easy! Start a different network or go back and start more traffic generations.  </h2>
                                <!-- Step 3 input fields -->
                                <div class="container steps"></div>  
                                <div class="mt-3">
                                    <button class="button k-button k-primary rounded raised has-gradient front-gradient   is-bold btn-navigate-form-step" type="button" step_number="4">Start Traffic Generation</button>
                                    <button class="button k-button k-secondary rounded raised has-gradient front-gradient   is-bold btn-navigate-form-step" type="button" step_number="1">Configure another Network</button>
                                </div>
                            </section>
                            </form>
                        </div>
                    </div>
    
                </div>
              </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
              <div class="b-table">
                <div class="table-wrapper has-mobile-cards">
                  <table class="table is-fullwidth is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                      <th class="is-chevron-cell"></th>
                      <th></th>
                      <th>Network name</th>
                      <th>Network status</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="is-chevron-cell">
                          <a role="button" id="button" >
                            <span id="icon" class="iconify-inline icon "><i class="mdi mdi-chevron-right mdi-24px"></i></span>
                          </a>
                        </td>
                        <td class="is-image-cell">
                          <i class="cf cf-eth"></i>
                        </td>
                        <td data-label="Network name">Rebecca Bauch</td>
                        <td data-label="Network status">Daugherty-Daniel</td>
                        <td class="is-actions-cell">
                          <div class="buttons is-center">
                            <button class="button is-small is-primary" type="button">
                              <span class="icon"><i class="mdi mdi-eye"></i></span>
                            </button>
                            <button id="startstop" class="button is-small is-danger jb-modal" data-target="sample-modal" type="button">
                              <span class="icon"><i id="stopstopicon" class="mdi mdi-trash-can"></i></span>
                            </button>
                          </div>
                        </td>
                      </tr>
                        <tr>
                          <div class="content" id="wrapper" style="display:hidden;">
                            <td colspan="8">
                              <div class="detail-container" style="display:none;">
                                <article class="media">
                                  <figure class="media-left">
                                    <i class="cf cf-eth"></i>
                                  </figure>
                                  <div class="media-content">
                                    <div class="detail">
                                      <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
                                        Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                      </p>
                                    </div>
                                  </div>
                                </article>
                              </div>
                            </td>
                        </div>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section> 
    </div>

<script>
    /**
 * Define a function to navigate betweens form steps.
 * It accepts one parameter. That is - step number.
 */
const navigateToFormStep = (stepNumber) => {
    /**
     * Hide all form steps.
     */
    document.querySelectorAll(".form-step").forEach((formStepElement) => {
        formStepElement.classList.add("d-none");
    });
    /**
     * Mark all form steps as unfinished.
     */
    document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
        formStepHeader.classList.add("form-stepper-unfinished");
        formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
    });
    /**
     * Show the current form step (as passed to the function).
     */
    document.querySelector("#step-" + stepNumber).classList.remove("d-none");
    /**
     * Select the form step circle (progress bar).
     */
    const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');
    /**
     * Mark the current form step as active.
     */
    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
    formStepCircle.classList.add("form-stepper-active");
    /**
     * Loop through each form step circles.
     * This loop will continue up to the current step number.
     * Example: If the current step is 3,
     * then the loop will perform operations for step 1 and 2.
     */
    for (let index = 0; index < stepNumber; index++) {
        /**
         * Select the form step circle (progress bar).
         */
        const formStepCircle = document.querySelector('li[step="' + index + '"]');
        /**
         * Check if the element exist. If yes, then proceed.
         */
        if (formStepCircle) {
            /**
             * Mark the form step as completed.
             */
            formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
            formStepCircle.classList.add("form-stepper-completed");
        }
    }
};
/**
 * Select all form navigation buttons, and loop through them.
 */
document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
    /**
     * Add a click event listener to the button.
     */
    formNavigationBtn.addEventListener("click", () => {
        /**
         * Get the value of the step.
         */
        const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));
        /**
         * Call the function to navigate to the target form step.
         */
        navigateToFormStep(stepNumber);
    });
});
</script>
<script>

  $(document).ready(function(){
    $("#button").click(function(){
      
      $(".detail-container").slideToggle("slow");
      $("#icon").toggleClass(' is-expanded')
    });


  });


  $(document).ready(function(){
  $("#startstop").click(function(){
    $("#startstop").toggleClass('is-danger is-success')
    $("#stopstopicon").toggleClass('mdi-trash-can mdi-arrow-right-drop-circle')

  });
  $("#slideSteps").click(function(){
    $("#steps").slideToggle("slow");

  });
});
 



</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
{%endblock%}