{%extends 'base.html'%}

{% block title %}Home{% endblock %}

{% block content %}

  <!-- Animated particles -->
  <div x-data="initHero()" x-init="initParticles()" id="particles-js"></div>

  <!-- Hero Image and Title -->
  <div class="hero-body" style="padding-top: 13em">
      <div class="container">
          <div class="columns is-vcentered">

              <!-- Landing page Title -->
              <div class="column is-5 landing-caption">
                  <h1 class="title is-1 is-light is-semibold is-spaced main-title">Blockchain Benchmarking Framework</h1>
                  <h2 class="subtitle is-5 is-light is-thin">
                    The blockchain benchmarking framework aims at the deployment and evaluation of different blockchain protocols.
                  </h2>
                  <!-- CTA -->
                  <p class="buttons">
                      <a href="https://scholarspace.manoa.hawaii.edu/server/api/core/bitstreams/29ef303a-820e-44fb-b659-cdd8f39c478a/content" class="button k-button k-primary raised has-gradient is-fat is-bold">
                          <span class="text">Find more in our Journal</span>
                          <span class="front-gradient"></span>
                      </a>
                  </p>

              </div>
              <!-- Hero image -->
              <div class="column is-7">
                  <figure class="image">
                      <img src="../static/dist/img/illustrations/buildings.svg" alt="">
                  </figure>
              </div>
          </div>
      </div>
  </div>

  <!-- Hero footer -->
  <div class="hero-foot">
      <div class="container" style="padding-top: 50px">
        <h3 class="title is-light is-semibold has-text-centered is-spaced" > Sponsors </h3>
          <div class="tabs is-centered" style="padding-bottom:28px;">
          
              <!-- Client / partner list -->
              <ul>
                  <li><img style="height:3em;  " class="hero-logo whitten"  target="_blank" src="../static/dist/img/logo/long-logo3.png"  alt="University of Nicosia"></li>
                  <li><img href="https://ubri.ripple.com/" class="hero-logo whitten"  target="_blank" src="../static/dist/img/logo/ripple.png" alt="Ripple University Blockchain Research Initiative"></li>
   
              </ul>
          </div>
      </div>
  </div>
</section>

<!-- App section -->
<section class="section is-darkest">
    <!-- Container -->
    <div class="container">
        <h2 class="title is-light is-semibold has-text-centered ">Controller</h2>
        <div class="content-wrapper is-large ">
            <img  src="../static/img/controller.svg" width="80%" height="80%" style="align:center; display: block;
            margin-left: auto;
            margin-right: auto;" alt="Controller">
        </div>

       <!-- Divider -->
       <!-- Title -->
       <h2 class="title is-light is-semibold has-text-centered is-spaced">Instructions</h2>
       <h4 class="subtitle is-6 is-light is-compact" style="text-align:justify">The  video in the end of the page presents a demonstration of the Benchmarking Framework.
          The above Controller is the Framework's controller which depicts the components of the framework. The first and mandatory step is the Monitoring. This step
      trigger the benchmarking engine which will later record the networks' traffic. Second step is the Benchmarking Engine. In this you can select which blockchain network to configure and start, but also you can 
       generate traffic which are transactions between random generated accounts. The managment component is the third one where you can understand the logs of the nodes and the network's information,
      also you can navigate to Dozzle for the complete logs and to Grafana where you can watch the actual benchmargking diagrams. The Available Networks presents the current running networks configured in previous steps. </h4>
  
       
       
        <!-- /Content wrapper -->
    </div>
    <!-- /Container -->
  </section>



<!-- Side Features section -->
<section class="section is-medium" >
  <!-- Container -->
  <div class="container" >
      <!-- Divider -->
      <div class="divider is-centered is-spacer"></div>
      <!-- Title & subtitle -->
      <h2 class="title is-light is-semibold has-text-centered is-spaced">About Blockchain Benchmarking Framework</h2>
      <h4 class="subtitle is-5 is-light has-text-justify is-compact" style="text-align:justify">
       Since the choice of a blockchain protocol is challenging,
       especially for corporates that seek to use the technology
       for their products and/or services, we developed an architecture for a
        blockchain benchmarking framework that aims to serve
        as a staged environment for supporting blockchain
        researchers and developers to test and validate the
        performance of a blockchain protocol under various
        settings and synthetic scenarios. In addition, the
        modules provided by the benchmarking framework aim
        to identify any performance bottlenecks during the
        network being under heavy load.</h4>

      <!-- Content wrapper -->
      <div class="content-wrapper is-large">
        <div class="divider is-centered"></div>
        <h2 class="title is-light is-semibold has-text-centered is-spaced">Articles</h2>
          <div class="columns is-vcentered">
            

              <!-- Feature content -->
              <div class="column is-5 is-offset-1">
                  <div class="side-feature-content">

                      <h3 class="title is-4 is-light"><img src="../static/img/icons/ico/bitbanner.svg" alt=""> <span>Medium Article</span></h3>
                      <div class="divider is-long"></div>
                      <p class="is-light" style="text-align:justify;">The blockchain trilemma (scalability, security, and decentralization) triggered a competition between initiatives and project teams from the wider blockchain ecosystem. These initiatives attempt to propose alternative to Bitcoin implementations for Distributed Ledgers. </p>
                      <div class="cta-wrapper">
                          <a href="https://medium.com/ripple-series/the-big-bang-of-blockchain-consensus-algorithms-the-case-of-ripple-1413fefb4f3b" class="button k-button k-primary raised has-gradient is-bold" target="_blank">
                              <span class="text">Learn More</span>
                              <span class="front-gradient"></span>
                          </a>
                      </div>
                  </div>
              </div>

              <!-- Feature image -->
              <div class="column is-7">
                  <img class="side-feature" src="../static/img/illustrations/token.svg" alt="">
              </div>
          </div>

          <div class="columns is-vcentered">
              <!-- Feature image desktop -->
              <div class="column is-7 is-hidden-mobile">
                  <img class="side-feature" src="../static/img/illustrations/blockchain-blocks.svg" alt="">
              </div>

              <!-- Feature content -->
              <div class="column is-5">
                  <div class="side-feature-content">

                      <h3 class="title is-4 is-light"><img src="../static/img/icons/ico/bitnetwork.svg" alt=""> <span>Conference Article</span></h3>
                      <div class="divider is-long"></div>
                      <p class="is-light" style="text-align:justify;">Blockchain and Distributed Ledger Technologies
                        appear to be at a worldwide threshold of acceptance
                        and adoption. Since their inception, several innovative
                        projects have been proposing solutions to the
                        blockchain trilemma, improving blockchain features
                        and its technical limitations. </p>
                      <div class="cta-wrapper">
                          <a href="https://scholarspace.manoa.hawaii.edu/server/api/core/bitstreams/29ef303a-820e-44fb-b659-cdd8f39c478a/content" class="button k-button k-primary raised has-gradient is-bold" target="_blank">
                              <span class="text">Learn More</span>
                              <span class="front-gradient"></span>
                          </a>
                      </div>
                  </div>
              </div>

              <!-- Feature image only for mobile -->
              <div class="column is-7 is-hidden-desktop is-hidden-tablet">
                  <img class="side-feature" src="../static/img/illustrations/blockchain-blocks.svg" alt="">
              </div>
          </div>

          <div class="columns is-vcentered">
              <!-- Feature content -->
              <div class="column is-5 is-offset-1">
                  <div class="side-feature-content">

                      <h3 class="title is-4 is-light"><img src="../static/img/icons/ico/bitmining.svg" alt=""> <span>IEEE Paper</span></h3>
                      <div class="divider is-long"></div>
                      <p class="is-light" style="text-align:justify">Blockchain and Distributed Ledger Technology (DLT) appears to be at a worldwide threshold of acceptance and adoption. Since their inception, several innovative projects have been proposing solutions to the blockchain trilemma, improving blockchain features and its technical limitations. However, the adoption of blockchain as a technology or a software component, requires a comprehensive understanding and characterization of their technical principles and characteristics.</p>
                      <div class="cta-wrapper">
                          <a href="https://ieeexplore.ieee.org/document/9569810" class="button k-button k-primary raised has-gradient is-bold" target="_blank">
                              <span class="text">Learn More</span>
                              <span class="front-gradient"></span>
                          </a>
                      </div>
                  </div>
              </div>

              <!-- Feature image -->
              <div class="column is-7">
                  <img class="side-feature" src="../static/img/illustrations/crypto-mining.svg" alt="">
              </div>
          </div>
      </div>
      <!-- /Content wrapper -->


  </div>

  <!-- /Container -->
</section>



<!-- /App section -->

<!-- Company section -->
<section class="section is-medium ">
  <!-- Container -->
  <div class="container" style="margin-top:-3em;">
      <!-- Divider -->
      <div class="divider is-centered"></div>
      <!-- Title & subtitle -->
      <h2 class="title is-light is-semibold has-text-centered is-spaced">Our Team</h2>
      <h4 class="subtitle is-6 is-light is-compact" style="text-align:justify">The Distributed Ledgers Research Centre (DLRC) positions itself as the bridge between pure academic research and the open challenges from the wider Blockchain ecosystem. The Centre aims to advance the field with transformative applications of the technology that emerge directly from the ecosystem.</h4>

      <!-- Content wrapper -->
      <div class="content-wrapper is-large">
          <div class="columns is-vcentered">

              <div class="column is-hidden-mobile"></div>

              <!-- Team member -->
              <div class="column is-3">
                  <div class="team-member-container">
                      <!-- Card -->
                      <div class="dark-card">
                          <!-- Avatar wrapper -->
                          <div class="avatar">
                              <!-- Svg circle -->
                              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                  <!-- Track -->
                                  <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  <!-- Stroke -->
                                  <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                              </svg>
                              <!-- Sketeched face -->
                              <img class="is-real" src="../static/img/team/klitos.jpg" alt="">
                              <!-- Real face -->
                              <img class="is-sketch" src="../static/img/team/klitos.jpg" alt="">
                          </div>
                          <!-- Member meta -->
                          <div class="member-info">
                              <h4 class="title is-light is-6 is-tight">Klitos Chrostodoulou, PhD</h4>
                              <div class="position">
                                Scientific Lab Leader <br>
                                Blockchain, Distributed Ledger Systems, Machine Learning, Data Managemento
                                </div>
                              
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Team member -->
              <div class="column is-3">
                  <div class="team-member-container">
                      <div class="dark-card">
                          <div class="avatar">
                              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                              </svg>
                              <img class="is-sketch" src="../static/img/team/elias.jpg" alt="">
                              <img class="is-real" src="../static/img/team/elias.jpg" alt="">
                          </div>
                          <div class="member-info">
                              <h4 class="title is-light is-6 is-tight">Elias Iosif, PhD</h4>
                              <div class="position">
                                Scientific Lab Co-Leader <br>
                                Blockchain, Distributed Ledger Systems, Machine Learning</div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Team member -->
              <div class="column is-3">
                  <div class="team-member-container">
                      <div class="dark-card">
                          <div class="avatar">
                              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                              </svg>
                              <img class="is-sketch" src="../static/img/team/igle.jpg" alt="">
                              <img class="is-real" src="../static/img/team/igle.jpg" alt="">
                          </div>
                          <div class="member-info" style="padding-top:20px">
                              <h4 class="title is-light is-6 is-tight">Antonis Inglezakis</h4>
                              <div class="position"> IFF ex-Researcher, <br> Ripple Fellow</div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="column is-hidden-mobile"></div>
          </div>

          <div class="columns is-vcentered">

              <div class="column is-hidden-mobile"></div>

              <!-- Team member -->
              <div class="column is-3">
                  <div class="team-member-container">
                      <div class="dark-card">
                          <div class="avatar">
                              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                              </svg>
                              <img class="is-sketch" src="../static/img/team/evgenia.jpg" alt="">
                              <img class="is-real" src="../static/img/team/evgenia.jpg" alt="">
                          </div>
                          <div class="member-info">
                              <h4 class="title is-light is-6 is-tight">Eugenia Kapassa</h4>
                              <div class="position">
                                IFF Researcher, <br> PhD Candidate</div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Team member -->
              <div class="column is-3">
                  <div class="team-member-container">
                      <div class="dark-card">
                          <div class="avatar">
                              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                              </svg>
                              <img class="is-sketch" src="../static/img/team/marios.jpg" alt="">
                              <img class="is-real" src="../static/img/team/marios.jpg" alt="">
                          </div>
                          <div class="member-info">
                              <h4 class="title is-light is-6 is-tight">Marios Touloupos</h4>
                              <div class="position">IFF Researcher <br> PhD Candidate, Ripple Fellow</div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Team member -->
              <div class="column is-3">
                  <div class="team-member-container">
                      <div class="dark-card">
                          <div class="avatar">
                              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                              </svg>
                              <img class="is-sketch" src="../static/img/team/george.png" alt="">
                              <img class="is-real" src="../static/img/team/george.png" alt="">
                          </div>
                          <div class="member-info">
                              <h4 class="title is-light is-6 is-tight">George Michoulis</h4>
                              <div class="position">IFF Software Engineer <br> Full Stack and Blockchain Developer</div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="column is-hidden-mobile"></div>

          </div>

          <!-- Spaced divider -->
          <div class="divider is-centered is-spacer"></div>
          <!-- Title & subtitle -->
          <h2 class="title is-light is-semibold has-text-centered is-spaced">Advisors</h2>
          <h4 class="subtitle is-6 is-light has-text-centered is-compact">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota homero.</h4>

          <!-- Content wrapper -->
          <div class="content-wrapper is-large">
              <div class="columns is-vcentered is-multiline">

                  <!-- Advisor -->
                  <div class="column is-one-fifth">
                      <div class="advisor-container has-text-centered">
                          <!-- Picture -->
                          <div class="photo">
                              <img src="../static/img/team/a1.jpg" alt="" data-aos="fade-down" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart">
                          </div>
                          <!-- Meta -->
                          <div class="info">
                              <div class="subtitle is-6 is-light is-compressed">Rafael Agostino</div>
                              <div class="position">Board Member</div>
                          </div>
                      </div>
                  </div>

                  <!-- Advisor -->
                  <div class="column is-one-fifth">
                      <div class="advisor-container has-text-centered">
                          <div class="photo">
                              <img src="../static/img/team/a2.jpg" alt="" data-aos="fade-down" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart">
                          </div>
                          <div class="info">
                              <div class="subtitle is-6 is-light is-compressed">Marysa Vosniak</div>
                              <div class="position">Board Member</div>
                          </div>
                      </div>
                  </div>

                  <!-- Advisor -->
                  <div class="column is-one-fifth">
                      <div class="advisor-container has-text-centered">
                          <div class="photo">
                              <img src="../static/img/team/a3.jpg" alt="" data-aos="fade-down" data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart">
                          </div>
                          <div class="info">
                              <div class="subtitle is-6 is-light is-compressed">Glenn Mitchells</div>
                              <div class="position">Board Member</div>
                          </div>
                      </div>
                  </div>

                  <!-- Advisor -->
                  <div class="column is-one-fifth">
                      <div class="advisor-container has-text-centered">
                          <div class="photo">
                              <img src="../static/img/team/a4.jpg" alt="" data-aos="fade-down" data-aos-delay="700" data-aos-offset="200" data-aos-easing="ease-out-quart">
                          </div>
                          <div class="info">
                              <div class="subtitle is-6 is-light is-compressed">Gary Simmons</div>
                              <div class="position">Crypto Finance Analyst</div>
                          </div>
                      </div>
                  </div>

                  <!-- Advisor -->
                  <div class="column is-one-fifth">
                      <div class="advisor-container has-text-centered">
                          <div class="photo">
                              <img src="../static/img/team/a5.jpg" alt="" data-aos="fade-down" data-aos-delay="900" data-aos-offset="200" data-aos-easing="ease-out-quart">
                          </div>
                          <div class="info">
                              <div class="subtitle is-6 is-light is-compressed">Olga Broniszewska</div>
                              <div class="position">Crypto Finance Analyst</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /Content wrapper -->

          <!-- Spaced divider -->
          <div class="divider is-centered is-spacer"></div>
          <!-- Title & subtitle -->
          <h2 class="title is-light is-semibold has-text-centered is-spaced">FAQ</h2>
          <h4 class="subtitle is-6 is-light has-text-centered is-compact">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota homero.</h4>

          <!-- Content wrapper -->
          <div class="content-wrapper is-large">
              <div class="columns">
                  <div class="column is-5 is-offset-1">

                      <!-- Accordion -->
                      <div class="accordion">
                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle1" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle1">
                                  What is Blockchain ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>

                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle2" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle2">
                                  What is ICO ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>

                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle3" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle3">
                                  Where to get the Whitepaper ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>

                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle4" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle4">
                                  What is Krypton Core Innovation ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>

                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle5" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle5">
                                  When will be the platform released ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>
                      </div>
                      <!-- /Accordion -->
                  </div>


                  <div class="column is-5">

                      <!-- Accordion -->
                      <div class="accordion">
                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle6" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle6">
                                  How much tokens will be sold ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>

                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle7" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle7">
                                  What happens if Soft Cap isn't reached ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>

                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle8" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle8">
                                  How much do you want to raise with the ICO ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>

                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle9" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle9">
                                  When will the tokens be distributed ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>

                          <!-- Option -->
                          <div class="accordion-option">
                              <input type="checkbox" id="toggle10" class="accordion-toggle" />
                              <label class="accordion-title" for="toggle10">
                                  Will their be Bounties ?
                              </label>
                              <div class="accordion-content">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /Content wrapper -->
      <!-- /Content wrapper -->
  </div>
</section>
<!-- /Landing page Hero -->
<div class="divider is-centered"></div>
<!-- Icon Features section -->
<section id="start" class="section is-transparent is-relative">
  <!-- Container -->
  <div class="container is-primary" >
     <!-- Content wrapper -->
     <div class="content-wrapper is-large">
  
        <!-- Row -->
        <div class="columns is-vcentered">

            
          <div class="column is-12">
            <h3 class="title is-light is-semibold has-text-centered is-spaced" > Demonstration Video </h3>

              
              <div class="cta-wrapper has-text-centered">
                  <div class="video-button levitate js-modal-btn" data-video-id="6WG7D47tGb0">
                      <img  id="show" src="../static/dist/img/icons/play.svg" alt="">
                  </div>
                  <div class="menu" style="padding-top:20px; display:none;  " >
                      <iframe width="560" height="315" src="../static/dist/img/media/bc-becnh-framework.mp4" type="video/mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                  </div>
                  </iframe>
              </div>
           </div>
        </div>


    </div>
      
      <!-- Content wrapper -->
      <div class="content-wrapper is-medium">
        <h3 class="title is-light is-semibold has-text-centered is-spaced" > Supported Networks </h3>
          <div class="columns is-vcentered">
           
            
              <!-- Feature -->
              <div class="column is-3">
                  <div class="feature">
                      <img style="padding-bottom:2em; width:60%; filter: brightness(0) invert(1);" src="../static/dist/img/logo/Ripple-Logo.png" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart">
                  </div>
              </div>
              <div class="column is-3">
                <div class="feature">
                    <img style="padding-bottom:2.2em; width:60%; filter: brightness(0) invert(1);" src="../static/dist/img/logo/Stellar.png" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart">
              
                </div>
            </div>
              <!-- Feature -->
              <div class="column is-3">
                  <div class="feature">
                      <img style="padding-bottom:2em; width:60%; filter: brightness(0) invert(1);" src="../static/dist/img/logo/hyperledger.png" alt="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart">
               
                  </div>
              </div>
              <!-- Feature -->
              <div class="column is-3">
                  <div >
                      <img style="padding-bottom:1em; width:60%; filter: brightness(0) invert(1);" src="../static/dist/img/logo/ethereum.png"  alt="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart">
                      
                  </div>
              </div>
          </div>
          
          <!-- Play video button -->

      </div>
      <!-- Content wrapper -->
  </div>
  <!-- /Container -->
</section>
<!-- /Icon Features section -->

<script>
    $(document).ready(function(){
        $('#show').click(function() {
          $('.menu').toggle("slide");
        });
    });

</script>

{%endblock%}